aside.recommended
  max-width 1024px
  margin 0 auto
  margin-top 60px
  padding-left 340px
  @media MediaSmallScreen
    padding-left 15px
    padding-right 15px
    margin-top 30px
  h1
    margin-bottom 0.5em
    @media MediaSmallScreen
      padding-top 0.5em
      margin-bottom 1em
  ul
    margin 0
    padding 0
    list-style-type none
    margin-left -10px
    @media MediaMobile
      margin-left 0
    li
      a
        padding 5px 10px
        border-radius 3px
        background #ff
        color black
        text-decoration none
        display flex
        transition background 0.2s
        position relative
        @media MediaMobile
          flex-direction column
          padding 0
          margin-bottom 15px
        &:hover
          background #f0
      img
        float left
        max-width 160px
        height auto
        margin-top 5px
        margin-bottom 5px
        border-radius 3px
        @media MediaMobile
          width 100%
          max-width none
          border-radius 0
          margin 0
      div.right
        margin-left 20px
        max-width calc(100% - 180px)
        h2
          margin 0 0 0.5em 0
          line-height 1.2em
          a
            text-decoration none
        p
          margin 0
        @media MediaMobile
          position absolute
          bottom 0
          left 0
          right 0
          padding 15px
          background rgba(255,255,255,0.8)
          margin-left 0
          max-width none 
          p
            display none